.admin-menus-list{
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.admin-menus-list li .link{
    text-decoration: none;
    color: #333;
    padding: 5px 15px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: #bebdbd .5px solid;

    // margin-top: 5px
}

.admin-menus{
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 100%;
    justify-content: space-between;
}
.logout-btn{
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    width: 100%;
}